<!doctype html>
<style>
  form {
    margin:auto;
    width: 35%;
  }

  .result{
    margin:auto;
    width:35%;
    border: 1px solid #ccc;
  }
</style>

<html>
  <head>
    <title>Прогнозирование СО2</title>
  </head>
  
  <body>
    <h1>Калькулятор стоимости недвижимости</h1>
  <form method="POST">
    <fieldset>
      <legend>Количество потребляемой энергии в стране</legend>
      
      <input name = "energy" type="number"
        required>
      <br>
      <br>

      <input type="submit">
    </fieldset>   
  </form>


  <div class="result" align="center">
    {% if result %}
        <br>
        <p style="font-size:50px">
        Прогноз
        </p>
    {% endif%}
  </div>
  </body>
    
  
</html>
