<!DOCTYPE html>
<html>
  
<head>
        <title>Предсказание СО2</title>
</head>
  
<body>
<p>&nbsp;</p>
<table id="yiv0374367716root" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody class="yiv0374367716mceWrapper">
<tr>
<td class="yiv0374367716mceSectionBody" style="background-color: transparent;" align="center" valign="top">
<table style="max-width: 660px;" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td id="yiv0374367716b9" style="border: 0; border-radius: 0; padding: 0;" valign="top">
<table style="border: 0; background-color: #d9c9fe; border-radius: 0; border-collapse: separate;" width="100%">
<tbody>
<tr>
<td class="yiv0374367716mceTextBlockContainer" style="padding: 12px 24px 12px 24px;">
<div id="yiv0374367716d9" class="yiv0374367716mceText" style="width: 100%;">

  <form method="post">
<h1 class="yiv0374367716last-child">Калькулятор СО2</h1>
<p>&nbsp;</p>
<h1 style="font-family: Times; font-variant-ligatures: normal; orphans: 2; widows: 2; text-decoration-thickness: initial;"><label>Количество энергии природных источников</span>&nbsp;<input name="energy1" type="text" /></h1>
<h1 style="font-family: Times; font-variant-ligatures: normal; orphans: 2; widows: 2; text-decoration-thickness: initial;"><label>Количество энергии природных источников</span>&nbsp;<input name="energy2" type="text" /></h1>
<p style="font-family: Times; font-size: medium; font-variant-ligatures: normal; orphans: 2; widows: 2; text-decoration-thickness: initial;"><label>Количество энергии природных источников</label>&nbsp;<input name="energy3" type="text" /></p>
<p style="font-family: Times; font-size: medium; font-variant-ligatures: normal; orphans: 2; widows: 2; text-decoration-thickness: initial;">
  
  <input type="submit" /></p>
      <p>
          <div class="result">
            {% if message %}
            {{ message }}
            {% endif %}
          </div>
        </p>
        </form>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>
</tbody>
</table>
</body>
</html>
