<!doctype html>
<style>
  form {
    margin:auto;
    width: 35%;
  }

  .result{
    margin:auto;
    width:35%;
    border: 1px solid #ccc;
  }
</style>


<html>
    <head>
        <title>Предсказание СО2</title>
    </head>
    <body>
        <h1>Калькулятор СО2</h1>
        <form method="post">
            <p>
                <label>Количество энергии</label>
                <input name="energy" type="text">
            </p>
            <p>
                <label>Количество энергии АЭС</label>
                <input name="energy2" type="text">
            </p>
            <p>
                <label>Количество энергии природных источников</label>
                <input name="energy3" type="text">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
        <p>
            {% if message %}
            {{ message }}
            {% endif %}
        </p>
       
    </body>
</html>
