<!doctype html>
<style>
  form {
    margin:auto;
    width: 70%;
  }

  .message{
    margin:auto;
    width:70%;
    border: 1px solid #ccc;
  }
</style>


<html>
    <head>
        <title>Предсказание СО2</title>
    </head>
    <body>
        
        <form method="post">
          <h1>Калькулятор СО2</h1>
            <p>
                <label>Количество энергии</label>
                <input name="energy1" type="text">
            </p>
            <p>
                <label>Количество энергии АЭС</label>
                <input name="energy2" type="text">
            </p>
            <p>
                <label>Количество энергии природных источников</label>
                <input name="energy3" type="text">
            </p>
            <p>
                <input type="submit">
            </p>
        
        <p>
          <div class="result" align="center">
            {% if message %}
            {{ message }}
            {% endif %}
          </div>
        </p>
        </form>
       
    </body>
</html>
